<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de...</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/acerca.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap">
</head>
<body>
    <header>
        <h1>
            Acerca de Wikiprofes2.0.com
        </h1>
    </header>
    <section>
        <p>Esta página es sustituto para la página wiki profes original.</p>
        <h2>
            Wikiprofes2.0.com tiene como propósitos:
        </h2> 
            <p>
                1. Ayudar los estudiantes a seleccionar a los profesores con los cuales podrán aprovechar alguna materia de la mejor forma.</br>
                2. Proporcionar un espacio de retroalimentación entre alumnos acerca del trabajo de ciertos profesores y como es estar en su clase.</br>
                3. Mostrar estadísticas en forma de puntuación que demuestre que tan conformes están los alumnos que tomaron clases con ese profesor, lo cual puede ayudar a definir a elegir mejores los profesores.</br>
            </p>
        <h2>
            Confidencialidad:
        </h2>
            <p>
                Los usuarios pueden elegir interactuar de forma anónima o mostrar información personal nada más allá de su nombre.</br>
                La información del usuario permanecerá confidencial en todo momento, excepto en situaciones extremas cuando agencias de gobierno requieran nuestra cooperación (policía, investigadores federales, etc).</br>
                Les pedimos a nuestros usuarios que sean objetivos en sus comentarios y califiquen con el fin de ayudar a la comunidad de alumnos, así como también a los profesores que busquen mejorar sus métodos de enseñanza.</br>               
            </p>      
        <h2>
            Información Personal
        </h2>
        <p>
            Wikiprofes2.0.com se reserva el derecho de borrar o editar cualquier comentario que considere inapropiado.
        </p>
    </section>
</body>
</html>