<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiki profes</title>
    <!-- Icono que se muestra en la pagina -->
    <link rel="shortcut icon" href="{{url_for('static', filename = '/img/logo.png')}}" type="image/x-icon">
    <!-- Link para aplicarle un archivo css al html -->
    <link rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename = 'css/index.css')}}">
    <!-- Link para el tipo de fuente a utilizar -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap">
</head>
<body>
    <header>
        <div class = "textos-header">
            <h1> Wiki profes 2.0 </h1>
        </div>
        <nav>
            <p>
                <img src= "{{url_for('static',filename = '/img/login.png')}}" type = "image/x-icon" align = "right"> 
                <a href="registro.html"> Iniciar sesion/Registrarse </a>
            </p>
            <p>
                
                <img src= "{{url_for('static',filename = '/img/acerca_de.png')}}" type = "image/x-icon" align = "right"> 
                <a href="acerca.html"> Acerca de</a>
            </p>
        </nav>
    </header>
    <!-- Contenedor flex box -->
    <div class = "flex-principal">
        <div class= "filtro-busqueda" style="order: 1; flex-grow: 1">
            <p> Filtros de busqueda</p>
            <form name = "busqueda-request" class = action = "" method = "post">
                <input type = "text" class = "barra-busqueda" placeholder= "Introduce Nombre">
                <input type = "image" class = "boton-enviar" src ="{{url_for('static',filename = '/img/busqueda.png')}}" align = "left">
            </form>    
            <a href = "#" > .Mejores calificados</a><br>
            <a href = "#" > .Oden A-Z</a><br>
            <a href = "#" > .Código de la materia</a><br>
        </div>
        <div class="informacion-Profesor" style="text-align:center; width: 70%; height: 70%; overflow: scroll; order: 2; flex-grow: 2;">
            <p>Realiza una busqueda o consulta una muestra de profesores</p>
            <br>  <br/> 
        </div>
    </div>
    
    <div class = "informacion-complementaria">
        <div class = "contacto">
            <h1> Contacto</h1> <br>
            <a href = "#" > Discord:  </a><br><br>
            <a href = "#" > Noticias </a><br><br>
            <a href = "#" > Lista de actualizaciones </a><br>
        </div>
        <div class = "preguntas">
            <h1> Preguntas y dudas frecuentes</h1> <br>
            <a href = "#" > ¿Cómo evalúo a un profesor?  </a><br><br>
            <a href = "#" > ¿Cómo registro a un profesor? </a><br><br>
            <a href = "#" > Soy estudiante, ¿cómo me registro? </a><br><br>
            <a href = "#" > Soy profesor, ¿cómo me registro? </a><br>
        </div>
        <div class = "caso_de_uso">
            <h1> Por qué usar Wikiprofes 2.0</h1> <br>
            <a href = "#" >  </a><br><br>
            <a href = "#" > Informes de analistas </a><br><br>
            <a href = "#" > Responsabilidad del equipo </a><br>
    </div>
</body>
</html>