<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiki profes</title>
    <!-- Icono que se muestra en la pagina -->
    <link rel="shortcut icon" href="{{url_for('static', filename = '/img/logo.png')}}" type="image/x-icon">
    <!-- Link para aplicarle un archivo css al html -->
    <link rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename = 'css/index.css')}}">
    <!-- Link para el tipo de fuente a utilizar -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap">
</head>
<body>
    <header>
        <nav>
            <p>
                <img src= "{{url_for('static',filename = '/img/login.png')}}" type = "image/x-icon" align = "right"> 
                <a href="registro.html"> Iniciar sesion/Registrarse </a>
            </p>
            <p>
                <a href="acerca.html"> Acerca de</a>
            </p>
        </nav>
        <div class = "textos-header">
            <h1> Wiki profes </h1>
        </div>
    </header>
    <main>
        
    </main>    
</body>
</html>