<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>informacion-Usuario</title>
        <!-- Link para aplicarle un archivo css al html -->
        <link rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename = '')}}">
        <!-- Link para el tipo de fuente a utilizar -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap">
    </head>


</html>